*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(0, 0, 0);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    /* define auto max value for row to expand size according to operand value */
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid>button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    /* disable default outline */
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}

.calculator-grid>button:hover {
    background-color: rgba(255, 255, 255, .9);
}

.span-two {
    /* Adjust button to take up 2 spaces */
    grid-column: span 2;
}

.output {
    /* size span from column number 1 to the last column (-1) */
    grid-column: 1 / -1;
    background-color: rgba(22, 21, 21, .75);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
    padding: 15px;
    /*wrap and break words in new line */
    word-wrap: break-word;
    word-break: break-all;
}

/* define previous-op with smaller size and lighter opacity than current-op*/
.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
}